{% extends "events/base.html" %} {% block title %}Details - Eventify{% endblock %} 
{% block content %}
<div class="row">
  <h2>Event Details</h2>
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <p class="card-text">
          <strong>Starts:</strong> {{ event.date|date:"Y-m-d" }} <br />
          <strong>Location:</strong> {{ event.location }} <br/>
          <strong>Max Seats:</strong> {{ event.max_seats }} <br/>
          <strong>Organizer:</strong> {{ event.organizer.username }} <br/>
        </p>
        <a href="/" class="btn btn-primary">Back to Events</a>
        {% if user in event.attendees.all %}
          <a href="{% url 'events:unattend-event' event.id %}" class="btn btn-danger">Unattend</a>
        {% else %}
          <a href="{% url "events:attend-event" event.id %}" class="btn btn-warning">Attend</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
